<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X_UA_Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Home Page</title>

	<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/genome" type="text/css"/>
	<link href="/css/styles.css" rel="stylesheet">
	<link rel="icon" href="http://www.clker.com/cliparts/z/f/q/Z/z/d/spaceship-md.png">
</head>

<body>
	<header id="top" class="header">
		<div class="text-vertical-center">
			<h1>Home Page</h1>
			<h3>Make something</h3>
		</div>
	</header>
	<main>
		<a href="/"><button class="btn">Home</button></a>
		<a href="/project1"><button class="btn">Project 1</button></a>
		<a href="/project2"><button class="btn">Project 2</button></a>
		<a href="/project3"><button class="btn">Project 3</button></a>
		<a href="/project4"><button class="btn">Project 4</button></a>
		<a href="/project5"><button class="btn">Project 5</button></a>
		<a href="/project6"><button class="btn">Project 6</button></a>
		<a href="/project7"><button class="btn">Project 7</button></a>
	</main>
</body>
</html>