<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X_UA_Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Project 4</title>

	<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/genome" type="text/css"/>
	<link href="/css/styles.css" rel="stylesheet">
	<link rel="icon" href="http://www.clker.com/cliparts/z/f/q/Z/z/d/spaceship-md.png">
</head>

<body>
	<nav>
		<a href="/"><button class="navbutton">Home</button></a>
		<a href="/project1"><button class="navbutton">Project 1</button></a>
		<a href="/project2"><button class="navbutton">Project 2</button></a>
		<a href="/project3"><button class="navbutton">Project 3</button></a>
		<a href="/project4"><button class="navbutton">Project 4</button></a>
		<a href="/project5"><button class="navbutton">Project 5</button></a>
		<a href="/project6"><button class="navbutton">Project 6</button></a>
		<a href="/project7"><button class="navbutton">Project 7</button></a>
	</nav>
	<header id="top" class="header">
		<div class="text-vertical-center">
			<h1>Project 4</h1>
			<h2>Shooting Stars!</h2>
		</div>
	</header>

	<canvas id="canvas" style="background-color:rgba(0,0,0,0.1); display: block;"></canvas>
	<script src="/js/shootingStars.js"></script>

</body>
</html>