<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X_UA_Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Project 2</title>

	<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/genome" type="text/css"/>
	<link href="/css/styles.css" rel="stylesheet">
	<link rel="icon" href="http://www.clker.com/cliparts/z/f/q/Z/z/d/spaceship-md.png">
</head>

<body>
	<div id="navbar">
		<nav>
			<a href="/"><button class="navbutton">Home</button></a>
			<a href="/project1"><button class="navbutton">Project 1</button></a>
			<a href="/project2"><button class="navbutton">Project 2</button></a>
			<a href="/project3"><button class="navbutton">Project 3</button></a>
			<a href="/project4"><button class="navbutton">Project 4</button></a>
			<a href="/project5"><button class="navbutton">Project 5</button></a>
			<a href="/project6"><button class="navbutton">Project 6</button></a>
		</nav>
	</div>
	<header id="top" class="header">
		<div class="text-vertical-center">
			<h1>Project 2</h1>
			<h2>Simple Canvas</h2>
		</div>
	</header>
	<main>
		<canvas id="myCanvas" width="400" height="400" style="border:4px solid #000000; background-color: white;"></canvas>
		<form name="myForm">
			<!-- <input name="radius" type="text" class="btn" placeholder="radius"> -->
			<input type="button" value="make face" class="btn" onclick="circle(), leftEye(), rightEye()">
			<input type="button" value="mouth" class="btn" onclick="circle()">
			<input type="button" value="left eye" class="btn" onclick="leftEye()">
			<input type="button" value="right eye" class="btn" onclick="rightEye()">
		</form>
		<script src="/js/simpleCircle.js"></script>
	</main>
</body>
</html>